SurvivalSoldiers/Assets/Mirror/*.cs linguist-vendored
*.aspx linguist-vendored
*.ascx linguist-vendored
*.master linguist-vendored
*.cshtml linguist-vendored
* linguist-vendored
SurvivalSoldier/Assets/Scripts/* linguist-vendored=false
